header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__titulo{
    margin-top: 1em;
    font-size: 2em;
    font-weight: 600;
    color: var(--branco-principal);
}

.input__container {
    background-color: rgba(255, 255, 255, 0.2);
    width: 40%;
    margin: 2em  auto 1em auto;
    display: flex;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }

  .input__container input {
    padding: 0.5rem;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    color: #ffffff;
  }

  .input__container img {
    cursor: pointer;
  }

  .input__container input::placeholder{
    font-size: 1.125em;
    color: var(--cinza-input);
    font-weight: 500;
  }

  .input__checkbox {
    gap: 1em;
    margin-bottom: 1em;
    color: #FFF;
    display: flex;
    flex-direction: column;
  }

  .input__checkbox input {
    background-color: transparent;
    color: transparent;
    
  }

  button{
    width: 120px;
    height: 50px;
    align-self: center;
    margin-bottom: 1em;
    cursor: pointer;
    background-color: #2f2e5c; 
    color: var(--branco-principal); 
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    transition: background-color 0.3s, transform 0.3s; 
    font-weight: bold;
  }

button:hover {
  background-color: rgb(92, 90, 90);
  transform: scale(1.05); 
}

#limpar-filtro {
  margin: 0 1.5em; 
}

.botoes{
  margin-top:3em;
}

@media screen and (max-width: 500px){
  button{
      width: 110px;
      font-size: .8em;
      margin: .4em;
      padding: 0;
  } 

  #limpar-filtro {
    margin: 0;
  }

  .input__container{
    width: 80%;
  }
}